@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');


body {
    margin: 0px auto;
    font-family: 'Poppins'!important;
    padding: 0px 20px;
    max-width: 1024px;
}

a {
    cursor: pointer;
}

nav {
    margin-top: 20px;
}

.logo {
    height: 50px;
    width: auto;
}

input {
    text-indent: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
    margin: 5px 0px;
    height:30px;
    width: 400px;
    margin-bottom: 40px;
}

select {
    margin: 5px 0px;
    margin-bottom: 40px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 18px;
    height: 40px;
    width: 400px;
    padding: 0px 10px;
}

form label {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

button {
    display: block;
}

h2 {
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
}

.ca-parent {
    margin-top: 40px;
}

.ca-text {
    font-size: 20px;
    margin-bottom: 50px;
}

.submit {
    background: #1BE078;
    border: none;
    padding: 10px 40px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 0px;
    cursor: pointer;
}

form {
    margin-bottom: 50px;
}

.love {
    width: 30px;
    margin: 0px 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}


/*Mobile View*/
@media screen and (max-width: 500px) {
    
    input, select {
        width: 100%;
    }

} 