@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0px auto;
    font-family: 'Poppins'!important;
    padding: 0px 20px;
    max-width: 1024px;
}

nav {
    margin-top: 20px;
}

.logo {
    height: 50px;
    width: auto;
}

.hero-image {
    /* width: 300px; */
    width: 75%;
    max-width: 300px;
    height: auto;
    float: right;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 20px;
}

.hero-sub {
    font-size: 22px;
}

.cta {
    background: #1BE078;
    border: none;
    padding: 15px 30px;
    color: white;
    /* color: black; */
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 40px;
    cursor: pointer;
}

.hero-section {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 30px;

}

.love {
    width: 30px;
    margin: 0px 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

/*Mobile View*/
@media screen and (max-width: 700px) {
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }

    .hero-image {
        display: flex;
        float: unset;
        margin: 0px auto;
        margin-top: 100px;
    }

    .logo {
        height: 40px;
        width: auto;
    }

    h1 {
        font-size: 35px; 
    }

    .hero-sub {
        font-size: 20px;
    }

    .cta {
        font-size: 18px;
    }

    footer {
        font-size: 14px;
    }

    .love {
        width: 22px;
        margin: 0px 10px;
    }
}